
@include Sm {
    header {
        position: static;
        text-align: center;
        ul {
            display: block;
        }
    }
    .w_f {
        width: 100%;
        float: none;
    }
    .h2 {
        font-size: 2.25rem;
    }
    .service {
        .service-parent {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include Md {
    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}
// @include Lg {
    
// }
@include Xs {
    .service {
        .service-parent {
            grid-template-columns: 1fr;
        }
    }
    .images {
        grid-template-columns: 1fr;
    }
}